/*
  UNIVERSAL CLASSES
*/
.center{
  text-align: center;
}

body{
  background-color: #F5F5DC;
  color: #006400;
}

table tr td{
  vertical-align: top;
}

form{
  display: inline-grid;
}

button{
  background-color: white;
}

#tablazat{
  width: 900px;
  border: 0;
  background-color: #DEB887;
  margin: 0 auto;
}

#tablazat img#piramis{
  width: 500px;
  height: 380px;
}
