body {
  background-color: #FF6347;
  color: #AFEEEE;
}

h1 {
  text-align: center;
}

#bek1 {
  text-align: center;
}

#bek1 img {
  margin: auto;
  width: 700;
  height: 100;
}

table {
  background-color: #A52A2A;
  border: 0;
  width: 700px;
  margin: auto;
  padding: 3px;
}

#cell1 {
  vertical-align: top;
  width: 230px;
}

#cell2 {
  vertical-align: top;
}

#masodiksor {
  border: 1px;
}
